<h3>哈囉, 
  <%= @participate.name %>
</h3>

<p>您在Taobaobao參加<%= @post.title %>的團購，已經成團！</p>
<p>以下為匯款帳號：0800489444，再麻煩您匯款！謝謝您！<p>
<p>若有問題歡迎隨時來信！</p>

<!-- skip --> 

<p>
  Taobaobao <br>
  祝您有個美好的一天！
</p>
