<h3>哈囉, <%= @user.name %></h3>

<p>感謝您使用Taobaobao,並在Taobaobao成立<%= @post.title %>的團購！</p>
<p>待您的團購湊齊人數，且團購成員繳齊購買費用（到時您也須先繳費），我們將會提供您淘寶代付帳號，以供您至淘寶下單。</p>
<p>而您可在淘寶下單時，與賣家講價，若是能用數量降低賣價，則我們收齊的成員購買費用，將會退給您，以勞您開團的辛勤！</p>
<p>若有問題歡迎隨時來信！</p>

<strong><em>Tip: 為因應團購成團，而團員跑單的狀況發生，提醒您可以在結團前，讓團購人數超過"成團人數"五至十人。</em></strong>
<p>祝您成團成功！</p>

<!-- skip --> 

<p>
  Taobaobao <br>
  祝您有個美好的一天！
</p>
