<footer class="footer">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="text-center footer-text">
        Copyright &copy by GemHunter 2018   
      </div>
    </div>
  </div>
</footer>
