<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; by <%= link_to "GemHunter", imgsearches_path %></span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li><a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a href="https://github.com/yameday/taobaobao" target="_blank"><i class="fa fa-github"></i></a>
          </li>
          <li><a href="#"><i class="fa fa-facebook"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li><a href="#">Privacy Policy</a>
          </li>
          <li><a href="#">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>


<script>
 
$(function(){
        /* 瀑布流區塊div */        
  var $container = $('.grid');
  
        //當圖片讀取完畢才執行
      $container.imagesLoaded(function (){
        //選擇瀑布流的區塊名稱
        $container.masonry({
          itemSelector: '.grid-item',
          percentPosition: true
      
        })
      
      });
  });
  
</script>