<% obj.each do |participate| %> 
  <%= link_to post_path(participate.post) do %>
    <div class="col-xs-12 col-md-3">
      <div class="product-item">
        <div class="pi-img-wrapper">
          <%= image_tag participate.post.photo, class: "img-responsive" %>
        </div>

        <h4><%= participate.post.title %></h4>
      </div>
    </div>
  <% end %>
<% end %>