<div class="col-xs-12"> 
  <div class="panel panel-default"> 
    <div class="panel-heading"> 
      <h4 class="panel-title">參加團購者: <%= @post.participates_count %> 位</h4> 
    </div> 
    <div class="panel-body">
      <% obj.participates.each do |participate| %> 
        <p>
          <%= participate.user.name %>
        </p>
      <% end %> 
    </div> 
  </div> 
</div> 



