<% obj.each do |post| %> 
  <%= link_to post_path(post) do %>
    <div class="col-xs-12 col-md-3">
      <div class="product-item">
        <div class="pi-img-wrapper">
          <%= image_tag post.photo, class: "img-responsive" %>
        </div>

        <h4><%= post.title %></h4>
        <div class="pi-price"><%= post.price %> 元</div>
      </div>
    </div>
  <% end %>
<% end %>