<% obj.each do |participate| %> 
  <div class="panel panel-default text-center">
    <div class="panel-body">
      <%= link_to post_path(participate.post) do %>
        <div class="media">
          <div class="col-xs-12">
            <div class="media-left">
              <%= image_tag participate.post.photo, class: "media-object", width: "200px" %>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="media-body">
              <h4 class="media-heading"><%= participate.post.title %></h4>
              <br>
            </div>
          </div>
          
        </div>
      <% end %>
    </div>
  </div>
<% end %>