<div class="container">
    <div class="row">
        <%  @sortarry.each do |f| %>
        <div class="col-md-4">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <!--<img src="http://keenthemes.com/assets/bootsnipp/k1.jpg" class="img-responsive" alt="Berry Lace Dress">-->
                
              <%= link_to f[3], target: "_blank", :class => 'button white' do %>	
											
								<%= image_tag f[1], class: "img-responsive" %>
							
							<% end %>
                <div>
                  <a href="#" class="btn">Zoom</a>
                  <a href="#" class="btn">View</a>
                </div>
              </div>
              <h3><%= link_to f[0], f[3], target: "_blank" %></h3>
              <div class="pi-price">$<%= f[2] %></div>
              
              <!--<div class="sticker sticker-new"></div>-->
            </div>
        </div>
        <% end %>
    </div>
</div>