<div class="container">
    <div class="row">
       
         <div class="col-md-12 col-xs-12">
        <div class="hot-item">
          <h3>外觀相似結果</h3>
          <%= render partial: "shared/imgsearch_lists", locals: { obj: @sortarry } %> 
        </div>
      </div>
       
    </div>
</div>