<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Post Lists</h1>

      <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      <div class="login-info">
        <%= link_to new_user_registration_path do %>
          <span class="glyphicon glyphicon-envelope" aria-hidden="true">   Continue with Email</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
