<section>
  <div class="container_table">
    <div class="jumbotron">
      <h1>同樣的商品，不同的報價</h1>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">

      <div class="col-md-9 col-xs-12">
        <%= render partial: "shared/post_lists", locals: { obj: @posts } %>
      </div>

      <div class="col-md-4 col-xs-6">
        
      </div>

    </div>
  </div>
</section>
