<div class="row">
    
  <!-- reserved for photo live-previw -->
  <div class="col-md-4 col-xs-6">
    <img src="https://api.fnkr.net/testimg/300x300/d3d3d3/FFF/?">
  </div>

  <div class="col-md-8 col-xs-12">
    <%= render partial: "shared/form" %> 
  </div>

</div>