/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "compass";
@import 'devices';
@import "imgsearches";
@import "agency";



* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    overflow-x: hidden;
    @include body-font;
}

.pcard-size {
   min-height: 480px;
}

.flash-area {
    margin-top: 75px;
}

/* Navbar */
/*
.navbar {
  margin-bottom: 0;
  background-color: #fff;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}

.navbar .navbar-brand {
  color: #000 !important;
}

.brand-text {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #fff !important;
}

.navbar-nav > li > a {
  color: #000 !important;
  font-size: 1.4em;
  font-weight: bold;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #585858 !important;
  background-color: #fff !important;
}
*/

/* ###### login-info setting ###### */













