/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 90%;
}

a, a:hover, a:focus {
  text-decoration: none;
}

.clearfix {
  clear: both;
}

/* ###### login-info setting ###### */
.login-info {
  border: 1px solid #00ffff;
  background-color: #00ffff;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  text-align: center;
  margin: 15px auto;
}

.login-info span {
  color: #fff;
  margin: 15px auto;
  font-weight: bold;
  font-size: 14px;
}

.login-info a {
  display: block;
  padding: 0px 10px;
}

/* ###### login-btn ###### */
.login-btn {
  display: inline-block;
  float: right;
}

.text-white a {
  color: #fff;
}

.dropdown-menu {
  min-width: 80px !important;
}



















